<ion-header>
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-list>

  <ion-card *ngFor="let pokemon of pokedex; let i=index" (click) ="openDetails(pokemon)">
    <ion-card-header>
      <ion-card-subtitle>Artist: {{pokemon.artist}}</ion-card-subtitle>
      <ion-card-title>{{pokemon.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img [src]="pokemon.imageUrl"></ion-img>
        <br>
      <p><strong>Supertype:</strong> {{pokemon.supertype}}</p>
      <p><strong>Subtype:</strong> {{pokemon.subtype}}</p>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>